<div class="wrapper" #wrapper>
  <div class="toolbar" #toolbar>
    <mat-toolbar color="primary">
      <span>База Звёздных Врат</span>
      <span class="spacer">
      </span>
      <!--<span>
        Данные синхронизируются
      </span>-->
      <!--<span>
        Данные синхронизированы
      </span>-->
      <!-- <button mat-raised-button color="accent">
         Обновить данные
       </button>-->
      <!--<button mat-raised-button color="warn">
        S.O.S.
      </button>-->
    </mat-toolbar>
  </div>
  <mat-sidenav-container #sidenavContainer [style.min-height.px]="minHeight">
    <mat-sidenav mode="side" opened="true" style="min-width: 200px;">
      <mat-nav-list>
        <ng-container *ngFor="let nav of sidenavLinks;">
          <a mat-list-item [routerLink]="[nav.url]" >
            {{nav.name}}
          </a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
