:host {
  display: block;
  width: 100%;
  min-height: 100vh;

  .wrapper {
    min-height: 100vh;
  }

  mat-sidenav {
    max-width: 200px;
  }

  .side-menu-link {
    width: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
