<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.id}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row?.name}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Тип </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row?.commandType?.typeName}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="members">
    <mat-header-cell *matHeaderCellDef> Участники </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ul class="unstyle-list">
        <li *ngFor="let member of row.members">
          {{member?.rank}} {{member?.name}} {{member?.surname}}
        </li>
      </ul>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row?.description}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-edit">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" routerLink="/command/create">
        <mat-icon>add_box</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" [routerLink]="['/command', row.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-delete">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="warn" (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
<mat-progress-bar
  *ngIf="pageLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-bar>
<mat-paginator #paginator
               [length]="itemsCount"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
