<div class="page-container" [style.min-height.px]="minHeight">
  <mat-card>
    <mat-card-title>Список зон</mat-card-title>
    <mat-card-content>
      <div *ngFor="let planet of addresses">
        <h3 matLine>{{planet.title}}</h3>
        <mat-form-field matLine >
          <mat-select placeholder="База" [(ngModel)]="planet.base">
            <mat-option [value]="0">
              Земля
            </mat-option>
            <mat-option [value]="1">
              Альфа
            </mat-option>
            <mat-option [value]="2">
              Бета
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span matLine>
          <sgc-glyph
            *ngFor="let glyph of planet.glyphs"
            [id]="glyph">
          </sgc-glyph>
          </span>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
