<div class="page-container" [style.min-height.px]="minHeight">
  <mat-card>
    <mat-card-title>Список адресов врат</mat-card-title>
    <mat-card-content>
      <div *ngFor="let planet of addresses">
        <h3>{{planet.title}}</h3>
        <span>
          <sgc-glyph
            *ngFor="let glyph of planet.glyphs"
            [id]="glyph">
          </sgc-glyph>
        </span>
        <p>
          {{planet.description}}
        </p>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
