<div class="page-container small" [style.min-height.px]="minHeight">
  <mat-card class="" *ngIf="user">
    <mat-card-title>
      Пользователь {{user.username}}
    </mat-card-title>
    <mat-card-content class="">
      РОЛИ:
      <ul class="unstyle-list">
        <li *ngFor="let role of user.userRole">
          {{role.role|userRole}}
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/logout" color="warn">Выйти</button>
    </mat-card-actions>
  </mat-card>
</div>
