<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.id}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <b>{{row?.name}}</b>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="zone">
    <mat-header-cell *matHeaderCellDef> Зона </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <b>{{row.zone.name}} ({{row?.zone?.addressStarGate?.physicalName}})</b>
      <div>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph1?.name">
        </sgc-glyph>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph2?.name">
        </sgc-glyph>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph3?.name">
        </sgc-glyph>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph4?.name">
        </sgc-glyph>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph5?.name">
        </sgc-glyph>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph6?.name">
        </sgc-glyph>
        <sgc-glyph [name]="row?.zone?.addressStarGate?.glyph7?.name">
        </sgc-glyph>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="command">
    <mat-header-cell *matHeaderCellDef> Отряд </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <b>{{row.command.name}}</b>
      <ul class="unstyle-list">
        <li *ngFor="let member of row?.command?.members">
          {{member?.rank}} {{member?.name}} {{member?.surname}}
        </li>
      </ul>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dateDeparture">
    <mat-header-cell *matHeaderCellDef> Дата отправления </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row?.dateDeparture | date}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row?.description}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-approve">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="approveMission(row)" *ngIf="!row?.approved && !row?.cancel">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button disabled *ngIf="row?.approved">
        <mat-icon>done</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-cancel">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="cancelMission(row)" *ngIf="!row?.cancel">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button disabled *ngIf="row?.cancel">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-edit">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" routerLink="/mission/create">
        <mat-icon>add_box</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" *ngIf="!row?.approved && !row?.cancel" [routerLink]="['/mission', row.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-delete">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="warn" (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
<mat-progress-bar
  *ngIf="pageLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-bar>
<mat-paginator #paginator
               [length]="itemsCount"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
