<div class="page-container" [style.min-height.px]="minHeight">
  <mat-card>
    <mat-card-title>Звёздные врата</mat-card-title>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="Статус" [value]="'INACTIVE'" readonly>
        </mat-form-field>
      </div>
      <div>
        <img src="/assets/gate.jpg">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Закрыть дифрагму
      </button>
      <button mat-raised-button color="warn">
        Открыть дифрагму
      </button>
    </mat-card-actions>
  </mat-card>
</div>
