<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="zone">
    <mat-header-cell *matHeaderCellDef> Зона </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.name}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="climate">
    <mat-header-cell *matHeaderCellDef> Климат </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{row?.climaticConditions}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="minerals">
    <mat-header-cell *matHeaderCellDef> Минералы </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{row?.minerals}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="mititaryThreats">
    <mat-header-cell *matHeaderCellDef> Обстановка </mat-header-cell>
    <mat-cell *matCellDef="let row">
        {{row?.mititaryThreats}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="glyphs">
    <mat-header-cell *matHeaderCellDef> Адресс </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <sgc-glyph [name]="row?.addressStarGate?.glyph1?.name">
      </sgc-glyph>
      <sgc-glyph [name]="row?.addressStarGate?.glyph2?.name">
      </sgc-glyph>
      <sgc-glyph [name]="row?.addressStarGate?.glyph3?.name">
      </sgc-glyph>
      <sgc-glyph [name]="row?.addressStarGate?.glyph4?.name">
      </sgc-glyph>
      <sgc-glyph [name]="row?.addressStarGate?.glyph5?.name">
      </sgc-glyph>
      <sgc-glyph [name]="row?.addressStarGate?.glyph6?.name">
      </sgc-glyph>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-edit">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" routerLink="/zone/create">
        <mat-icon>add_box</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" [routerLink]="['/zone', row.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="icon-delete">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="warn" (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
<mat-progress-bar
  *ngIf="pageLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-bar>
<mat-paginator #paginator
               [length]="itemsCount"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
