<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="zone">
    <mat-header-cell *matHeaderCellDef> Зона </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-raised-button color="primary" [routerLink]="['/zone', row.id]">
        {{row.name}}
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="glyphs">
    <mat-header-cell *matHeaderCellDef> Адресс </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <sgc-glyph [id]="row.glyph1">
      </sgc-glyph>
      <sgc-glyph [id]="row.glyph2">
      </sgc-glyph>
      <sgc-glyph [id]="row.glyph3">
      </sgc-glyph>
      <sgc-glyph [id]="row.glyph4">
      </sgc-glyph>
      <sgc-glyph [id]="row.glyph5">
      </sgc-glyph>
      <sgc-glyph [id]="row.glyph6">
      </sgc-glyph>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
<mat-progress-bar
  *ngIf="pageLoading"
  color="primary"
  mode="indeterminate">
</mat-progress-bar>
<mat-paginator #paginator
               [length]="itemsCount"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
