<div class="page-container" [style.min-height.px]="minHeight">
  <mat-card>
    <mat-card-title>Пользователь</mat-card-title>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="Логин">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Имя">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Фамилия">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Пароль">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Подтвердите пароль">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Сохранить
      </button>
    </mat-card-actions>
  </mat-card>
</div>
