@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  mat-card {
    width: 80%;
  }

  &.small {
    mat-card {
      min-width: 400px;
      width: 400px;
    }
  }
}

mat-form-field {
  width: 100%;
}

.mat-column-id,
.mat-column-icon-edit,
.mat-column-icon-delete,
.mat-column-icon-view,
.mat-column-icon-action{
  flex: 0 0 40px !important;
}
